<div class="container">
  <form class="signup-form" [formGroup]="signupfrom">
      <h2>Sign Up</h2>
      <div class="form-group" >
          <label for="username">Username</label>
          <input type="text" id="username" formControlName="username" required><br>
          <small *ngIf="signupfrom.controls['username'].dirty && signupfrom.hasError('required','username')" style="color: rgb(252, 62, 62);">*username is required</small>
        </div>
      <div class="form-group">
          <label for="email">Email</label>
          <input type="email" id="email" formControlName="email" required><br>
          <small *ngIf="signupfrom.controls['email'].dirty && signupfrom.hasError('required','email')" style="color: rgb(252, 62, 62);">*username is required</small>
        </div>
      <div class="form-group">
          <label for="password">Password</label>
          <input type="password" id="password" formControlName="password" required><br>
          <small *ngIf="signupfrom.controls['password'].dirty && signupfrom.hasError('required','password')" style="color: rgb(252, 62, 62);">*username is required</small>
        </div>
      <button (click)="onSignUp()" type="submit">Sign Up</button>
  </form>
</div>